@use "@styles/global/variables";
@use "sass:color";

@mixin generate_button_colors($name, $hex) {

  $buttons: (
    ".btn",
    "button",
    "input[type=submit]",
  );

  @each $button in $buttons {
    #{$button}.#{$name} {
      color: variables.$white;
      background-color: $hex;
      border-color: $hex;

      &:hover {
        color: variables.$white;
        background-color: color.adjust($hex, $lightness: 10%);
        border-color: color.adjust($hex, $lightness: 10%);
      }
    }

    #{$button}.#{$name}.outline {
      color: $hex;
      background-color: transparent;
      border-color: $hex;

      &:hover {
        @if($name == "white") {
          color: variables.$black;
          background: variables.$white;
          border-color: variables.$white;
        } @else if($name == "black") {
          color: variables.$white;
          background: variables.$black;
          border-color: variables.$black;
        } @else {
          color: color.invert($hex);
          background-color: #{$hex};
          border-color: #{$hex};
        }
      }
    }

    .bg-#{$name} #{$button}.#{$name} {
      color: $hex;
      background-color: white;
      border-color: white;

      &:hover {
        color: white;
        background-color: transparent;
        border-color: white;
      }
    }
  }


}
