@use "@styles/global/variables";

.audioplay {
  cursor: pointer;
  text-align: center;
  margin: auto;

  svg {
    fill: variables.$primary;
    transition: all 300ms ease;
    width: 1em;
    width: 1em;
    font-size: 5em;
    margin: auto;
  }

  span,
  small {
    display: block;
  }

  span {
    color: variables.$primary-lightest;
  }

  small {
    color: variables.$white;
    margin: 0.25em 0 0;
  }

  &:hover {
    svg {
      fill: variables.$white;
      transform: scale(1.1);
    }
  }
}
