@use "sass:math";
@use "@styles/global/variables";

.wp-block-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: variables.$gapSmall;
  margin: variables.$gapMedium 0;

  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    gap: variables.$gapMedium;
    margin: variables.$gapLarge 0;
  }

  .wp-block-image {
    margin: 0;
  }

  @for $i from 2 through 8 {
    &.columns-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  img {
    display: block;
  }

  &.is-cropped {
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  @container wpBlockList (max-width: #{variables.$screen-xs-max}) {
    &.columns-3,
    &.columns-4 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.columns-5,
    &.columns-6,
    &.columns-7 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.columns-8,
    &.columns-9 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.columns-10 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
