@use "@styles/global/variables";

.wp-block-image,
.block-editor-block-list__block.wp-block.wp-block-post-featured-image {
  margin: variables.$gapMedium 0;

  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    margin: variables.$gapLarge 0;
  }

  img {
    display: block;
  }

  .wp-element-caption {
    margin: 0.5em 0 0;
  }

  &.is-style-rounded {
    img {
      border-radius: 9999px;
    }
  }

  &.is-image-fill-element,
  &.is-cropped {
    figure {
      display: flex;
      flex-direction: column;
      margin: 0;

      img {
        flex: 1 0 0%;
        height: 100%;
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }

  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    .alignleft,
    .alignright {
      margin-bottom: variables.$gap;
    }

    .alignleft {
      float: left;
      margin-right: variables.$gapLarge;
    }

    .alignright {
      float: right;
      margin-left: variables.$gapLarge;
    }
  }
}
