@use "@styles/global/variables";
@use "@styles/global/typography";

.wp-block-media-text {
  display: grid;
  grid-template-columns: 50% auto;
  margin: variables.$gapMedium 0;
  gap: variables.$gapMedium;
  align-items: center;

  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    margin: variables.$gapLarge 0;
    gap: variables.$gapLarge;
  }

  &__content {
    @extend .wysiwyg;
  }

  &__media {
    position: relative;
  }

  @container wpBlockList (max-width: #{variables.$screen-xs-max}) {
    &.is-stacked-on-mobile {
      display: block;

      .wp-block-media-text__media {
        margin-bottom: variables.$innerLarge;
      }
    }
  }

  @container wpBlockList (min-width: #{variables.$screen-sm}) {
    &.is-image-fill-element {
      .wp-block-media-text__media {
        video,
        img {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          inset: 0;
          object-fit: cover;
        }
      }
    }
  }

  @container wpBlockList (min-width: #{variables.$screen-md}) {
    gap: variables.$innerMedium;
  }

  @container wpBlockList (min-width: #{variables.$screen-lg}) {
    gap: variables.$innerLarge;
  }
}

