@use "@styles/global/variables";

.wp-block-pullquote blockquote,
.wp-block-quote {
  position: relative;
  text-align: center;
  font-size: 1.25em;
  margin: variables.$gapMedium auto;

  * {
    font-family: variables.$displayFont;
    font-weight: 700;
    line-height: 1.2;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  cite {
    font-family: variables.$font;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: variables.$primary-lightest;
    margin-top: -0.25rem;
  }

  &::before,
  &::after {
    display: block;
    margin: auto;
    mask-image: url("@images/hr-centre.svg");
    mask-size: auto 100%;
    mask-position: center;
    height: 0.875rem;
    width: 21.5rem;
    max-width: 100%;
    background: variables.$primary;
  }

  &::before { margin-bottom: variables.$gapSmall; }
  &::after { margin-top: variables.$gapSmall; }

  &:not(.is-style-plain) {
    &::before,
    &::after {
      content: '';
    }
  }

  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    font-size: 2.5em;
    margin: variables.$gapLarge 0;
    margin-left: 5%;
    margin-right: 5%;

    &::before { margin-bottom: variables.$gapMedium; }
    &::after { margin-top: variables.$gapMedium; }
  }
}
