.transitions {
  &-page {
    opacity: 0;
    transform: translate3d(0, -1em, 0);
    transform-origin: top left;
    transition: all 200ms ease;

    &-exit {
      transform: translate3d(0, 1em, 0);
    }

    &-enter-done {
      opacity: 1;
      transform: none;
    }
  }
}
