@use "@styles/global/variables";

.section-postgrid {
  container-name: PostGrid;
  container-type: inline-size;
}

.postgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20em), 1fr));
  gap: variables.$gapMedium;

  @container PostGrid (min-width: #{variables.$screen-md}) {
    gap: variables.$gapLarge;
    grid-template-columns: repeat(3, 1fr);
  }
}
