@use "@styles/global/variables";

.termlist {
  ul {
    margin: -0.25em;

    li {
      display: inline-block;
      margin: 0.25em;

      a {
        display: block;
        padding: 0.125em 0.5em;
        border: 1px solid rgba(variables.$white, 0.3);
        color: variables.$white;
        border-radius: 0.25em;
        font-weight: bold;
        text-decoration: none;
        transition: all 300ms ease;
      }

      &:hover {
        a {
          background: variables.$secondary-lighter;
          border-color: variables.$secondary-lighter;
          color: variables.$white;

          .bg-white & {
            border-color: variables.$secondary-lighter;
            background: variables.$secondary-lighter;
          }
        }
      }

      &.active {
        a {
          background: variables.$primary;
          border-color: variables.$primary;
          color: variables.$white;
        }
      }

      .bg-white & {
        a {
          border-color: variables.$grey-light;
          background: variables.$grey-light;
        }

        &:hover a {
          border-color: variables.$secondary-dark;
          background: variables.$secondary-dark;
        }

        &.active a {
          border-color: variables.$primary;
          background: variables.$primary;
        }

      }
    }
  }

  &-archive {
    overflow-x: auto;

    ul {
      display: flex;
      gap: 0.25em;
      margin: 0;

      li {
        display: block;
        white-space: nowrap;
      }
    }
  }
}
