@use "@styles/global/variables";

.termlist {
  ul {
    margin: -0.25em;

    li {
      display: inline-block;
      margin: 0.25em;

      a {
        display: block;
        padding: 0.125em 0.5em;
        border: 1px solid rgba(variables.$white, 0.3);
        color: variables.$white;
        border-radius: 0.25em;
        font-weight: bold;
        text-decoration: none;
        transition: all 300ms ease;
      }

      &:hover {
        a {
          background: variables.$secondary;
        }
      }

      &.active {
        a {
          background: variables.$primary;
        }
      }
    }
  }
}
