@use "@styles/global/variables";

.article-toc {
  h3 {
    font-size: 1.25em;
    margin: 0 0 1em;
    padding: 0 0 1em;
    border: 0 solid variables.$grey-light;
    border-width: 0 0 1px;
  }

  a {
    display: block;
    color: variables.$white;
    font-weight: 700;
    padding: 0.5em 0;
    font-size: 1.25em;
    line-height: 1.1;
    font-family: variables.$displayFont;
    font-weight: 700;
    text-decoration: none;

    &.active,
    &:hover {
      color: variables.$primary;
    }
  }
}
