@use "@styles/global/variables";
@use "./style";
@use "@views/components/Blocklist/Blocklist";
@use "@blocks/core/Columns";
@use "@blocks/core/Details";
@use "@blocks/core/Embed";
@use "@blocks/core/Gallery";
@use "@blocks/core/Image";
@use "@blocks/core/Quote";
@use "@blocks/core/Separator";
@use "@blocks/core/Verse";
@use "@blocks/core/DropCap";

.wp-block-badegg-article {
  position: relative;

  .wp-block-pullquote {
    padding: 0;
    margin: variables.$innerLarge auto;
  }

  .badegg-article-select-parent {
    appearance: none;
    display: block;
    position: absolute;
    inset: 0;
    z-index: 2;
    background: transparent;
    border: none;
    padding: 0;
    cursor: context-menu;

    &:hover {
      background: rgba(variables.$black, 0.1);
    }
  }

  > .container {
    position: relative;
    z-index: 10;
    border: 2px transparent dashed;
  }

  &:hover {
    > .container {
      border-color: variables.$wpblue;
      background-color: rgba(variables.$white, 0.3);

      > * {
        opacity: 0.7;
      }

      &:hover {
        background: transparent;

        > * {
          opacity: 1;
        }
      }
    }
  }

  .block-editor-block-list {
    &__layout {
      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
