@use "sass:math";
@use "@styles/global/variables";

.wp-block-badegg-article {
  container-name: BadEggArticle;
  container-type: inline-size;

  &.has-sidebar {
    .article {
      &-layout {
        display: flex;
        flex-wrap: wrap;
        gap: variables.$gapLarge;
      }

      &-main {
        flex: 0 0 100%;
      }

      &-sidebar {
        flex: 1;
      }

      @container BadEggArticle (min-width: #{variables.$screen-sm}) {
        &-layout { flex-wrap: nowrap; }
        &-main { flex: 1 1 auto; }

        &-sidebar {
          flex: 0 0 30%;
          min-width: 15em;
          order: -1;

          &-switch {
            order: unset;
          }
        }
      }

      @container BadEggArticle (min-width: #{variables.$screen-lg}) {
        &-layout { gap: (variables.$gapLarge * 1.5); }
      }

      @container BadEggArticle (min-width: #{variables.$screen-xl}) {
        &-layout { gap: (variables.$gapLarge * 2); }
      }
    }
  }

  .toc-anchor {
    display: block;
    position: relative;
    visibility: hidden;
  }
}

.article-sidebar {
  display: flex;
  gap: variables.$gapMedium;
  flex-direction: column;
  justify-content: space-between;

  @container BadEggArticle (min-width: #{variables.$screen-sm}) {
    &-inner {
      position: sticky;
      top: 0;
      z-index: 2;
    }

    .delibird {
      position: sticky;
      bottom: 2em;
    }
  }

  &-block {
    border-color: rgba(variables.$white, 0.3);
    backdrop-filter: blur(0.25em);
    background: linear-gradient(-30deg, rgba(variables.$black, 0.1), rgba(variables.$white, 0.1), rgba(variables.$black, 0.1));
    border-top-left-radius: 0;
    border-radius: variables.$borderRadius;
    border: 1px solid variables.$grey-lighter-a;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: -0.8em;
      left: -0.8em;
      display: block;
      width: 3.625em;
      height: 3.625em;
      background: variables.$primary;
      mask-image: url("@images/embellish-corner-left-top.svg");
    }

    &-toc {
      @container BadEggArticle (max-width: #{variables.$screen-xs-max}) {
        display: none;
      }

      h3 {
        font-size: 1.25em;
        margin: 0 0 1em;
        padding: 0 0 1em;
        border: 0 solid variables.$grey-light;
        border-width: 0 0 1px;
      }

      a {
        display: block;
        color: variables.$white;
        font-weight: 700;
        padding: 0.5em 0;
        font-size: 1.25em;
        line-height: 1.1;
        font-family: variables.$displayFont;
        font-weight: 700;
        text-decoration: none;

        &.active,
        &:hover {
          color: variables.$primary;
        }
      }
    }

    &-product,
    &-podcast {
      text-align: center;
    }

    &-product {
      .product {
        &-image {
          img {
            display: block;
            margin: auto;
            border-radius: variables.$borderRadiusSmall;
            max-width: 15em;
            width: 100%;
          }
        }

        &-pricing {
          font-family: variables.$displayFont;
          font-size: 1.875em;
          margin: 0.25em 0 0.375em;

          span {
            display: inline-block;
          }

          &-discounted {
           .product-pricing-current {
              opacity: 0.5;
              transform: scale(0.8);
            }
          }
        }

        &-link {
          p {
            margin: 0.5em 0 0;
            font-size: 0.8em;
          }
        }
      }
    }

    .article-sidebar-switch & {
      border-top-right-radius: 0;
      border-top-left-radius: variables.$borderRadius;

      &::before {
        left: unset;
        right: -0.8em;
        mask-image: url("@images/embellish-corner-right-top.svg");
      }
    }
  }
}

.article-main {
  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    h2 { font-size: 1.75em; }
    h3 { font-size: 1.5em; }
  }
}
