@use "@styles/global/variables";

.brand {
  container-name: Brand;
  container-type: inline-size;
  display: block;
  width: variables.$brandWidth;
  text-decoration: none;
  color: variables.$white;

  &-inner {
    .has-icon & {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }

  span,
  small {
    display: block;
  }

  span {
    font-family: variables.$displayFont;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -0.025em;
    white-space: nowrap;
  }

  small {
    font-size: 0.65em;
  }

  img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &-icon {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    width: variables.$brandHeight;
    flex-shrink: 0;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      border: 0.125rem solid variables.$white;
      border-radius: 50%;
    }
  }
}
