@use "@styles/global/variables";

.wp-block-badegg-excerpt {
  container-name: BlockExcerpt;
  container-type: inline-size;

  @container wpBlockList (min-width: #{variables.$screen-xs}) {
    font-size: 1.25em;
  }
}
