@use "@styles/global/variables";

.wrapper {
  .menu-open & {
    transform: translateX(-1 * variables.$offCanvasWidth);
  }
}

.menu-side {
  position: fixed;
  inset: 0;
  left: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: variables.$offCanvasWidth;
  transform: translateX(100%);
  transition: all 300ms ease;
  background: linear-gradient(75deg, rgba(variables.$white, 0.1), rgba(variables.$white, 0));
  // backdrop-filter: blur(0.25em);
  border-left: 1px solid variables.$primary-lightest;
  overflow-y: auto;

  .menu-open & {
    transform: none;
  }

  &-closer {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(variables.$black, 0.3);
    opacity: 0;
    pointer-events: none;

    .menu-open & {
      opacity: 1;
      pointer-events: all;
      backdrop-filter: blur(0.25em);
    }
  }

  &-close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;

    svg {
      display: block;
      fill: variables.$primary;
      padding: 0.25em;
    }
  }

  .admin-bar & {
    top: 32px;

    @media (max-width: 782px) {
      top: 46px;
    }

    @media (max-width: 600px) {
      top: 0;
    }
  }

  .brand {
    display: block;
    text-align: center;
    font-size: 0.8em;

    &-icon {
      margin: auto;
    }

    span {
      text-wrap: wrap;
    }
  }

  .menu-primary {
    text-align: center;
    flex-grow: 1;

    li {
      a {
        display: block;
        padding: 0.5em 0;
        font-size: 1.25em;

        span,
        &::before,
        &::after {
          display: inline-block;
          vertical-align: middle;
        }

        &::before,
        &::after {
          content: '';
          width: 2em;
          height: 1px;
          transition: all 200ms ease;
          margin: 0 0.5em;
        }

        &::before { transform: translateX(-100%); }
        &::after { transform: translateX(100%); }
      }

      &.active {
        a {
          &::before,
          &::after {
            background: variables.$primary;
            transform: none;
          }
        }
      }
    }
  }

  .socials {
    text-align: center;
    font-size: 2em;

    a {
      color: variables.$white;
    }
  }
}
