@use "@styles/global/variables";

.wp-block-badegg-masthead {
  container-name: BlockMasthead;
  container-type: inline-size;

  time,
  .masthead-categories,
  .entry-meta {
    display: inline-block;
    vertical-align: middle;
  }

  .entry-meta {
    margin: 0 0 1em;

    &.has-categories {
      time::before {
        content: '\2022';
        display: inline-block;
        vertical-align: middle;
        margin: 0.5em;
        opacity: 0.7;
      }
    }
  }

  time {
    line-height: 1;
    white-space: nowrap;
  }

  h1 {
    color: variables.$white;

    @container BlockMasthead (min-width: #{variables.$screen-xs}) {
      font-size: 2.25em;
    }
  }
}

ul.masthead-categories {
  margin: -0.25em;

  li {
    display: inline-block;
    margin: 0.25em;
  }

  a {
    display: block;
    padding: 0.125em 0.5em;
    background: variables.$secondary-lighter;
    color: variables.$white;
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms ease;

    &:hover {
      background: variables.$secondary;
    }
  }
}
