@use "@styles/global/variables";

.bg-texture {
  pointer-events: none;
  background: linear-gradient(
    30deg,
    variables.$tertiary-offBlack 0%,
    variables.$secondary-offBlack 100%,
  );

  @media (orientation: portrait) {
    background: linear-gradient(
      30deg,
      variables.$tertiary-offBlack 0%,
      variables.$secondary-offBlack 100%,
    );
  }

  img {
    width: 100%;
    display: block;
    mix-blend-mode: screen;
  }

  &.fixed {
    position: fixed;
    inset: 0;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
