@use "@styles/global/variables";

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  &-featured {
    img {
      display: block;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    &-placeholder {
      padding-top: 56.25%;
    }
  }

  &-content {
    flex-grow: 1;
  }

  &-excerpt {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &-more {
    font-weight: bold;
    text-decoration: none;
    color: variables.$primary;

    &-overlay {
      display: block;
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  .termlist {
    position: relative;
    z-index: 2;
    font-size: 0.8em;
  }

  &:hover {
    .card-more {
      text-decoration: underline;
    }
  }

  h2 {
    color: variables.$secondary-darker;
    margin-top: 1rem;
  }

  &-loading {
    h2 {
      width: 80%;
    }

    .card-excerpt {
      span {
        display: inline-block;
        width: 100%;
        line-height: inherit;

        &:last-of-type {
          width: 60%;
        }
      }
    }

    footer {
      span {
        display: inline-block;
        text-decoration: none !important;
        width: 40%;
      }
    }
  }

  &-podcast {
    .card-featured {
      position: relative;
      z-index: 2;
      overflow: hidden;

      img {
        filter: blur(0.5em);
      }

      .audioplay {
        position: absolute;
        z-index: 2;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        width: 1em;
        height: 1em;
        font-size: 7.5em;

        svg {
          position: relative;
          z-index: 2;
          font-size: 1em;
        }

        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 0.5em);
          left: calc(50% - 0.5em);
          z-index: 1;
          display: block;
          border-radius: 50%;
          width: 1em;
          height: 1em;
          font-size: 1.125em;
          filter: blur(0.25em);
          background: variables.$black;
        }
      }
    }

    &-duration {
      &::before {
        content: '\2022';
        margin: 0 0.5em;
        opacity: 0.25;
      }
    }
  }
}
