@use "sass:math";
@use "@styles/global/variables";

.card-opaque  {
  backdrop-filter: blur(0.25em);
  background: linear-gradient(-30deg, rgba(variables.$black, 0.1), rgba(variables.$white, 0.1), rgba(variables.$black, 0.1));
  border-top-left-radius: 0;
  border-radius: variables.$borderRadius;
  border: 1px solid variables.$grey-lighter-a;
}
