@use "../mixins";
@use "../variables";

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: variables.$primary rgba(variables.$black, 0.3);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: rgba(variables.$primary-darkest, 0.8);
}

*::-webkit-scrollbar-thumb {
  background-color:  variables.$secondary-light;
  border-radius: 1.5rem;
  border: 0.25rem solid transparent;
}

::selection {
  color: variables.$black;
  background: variables.$primary;
}

@each $color, $hex in variables.$colors {
  @include mixins.generate_colour_classes($color, $hex);
  @include mixins.generate_button_colors($color, $hex);
}


@each $color, $hex in variables.$wpCoreColours {
  .has-#{$color}-color {
    color: $hex;
  }
}
