@use "sass:color";

$wpblue: #2271b1;

//== Status
$success: #39b54a;
$error: #be1e2d;
$alert: #eed202;

//== Wordpress
$cyan-bluish-gray: #abb8c3;
$pale-pink: #f78da7;
$vivid-red: #cf2e2e;
$luminous-vivid-orange: #ff6900;
$luminous-vivid-amber: #fcb900;
$light-green-cyan: #7bdcb5;
$vivid-green-cyan: #00d084;
$pale-cyan-blue: #8ed1fc;
$vivid-cyan-blue: #0693e3;
$vivid-purple: #9b51e0;

//== Brand Colours
$primary:     #ffc15d;
$secondary:   #F90205;
$tertiary:    #00cefc;

//== Shades
$white:               #FFFFFF;
$grey:                #717171;
$black:               #000000;

//== Primary Tints
$primary-offBlack:  color.adjust($primary, $lightness: -50%, $space: oklch);
$primary-darkest:   color.adjust($primary, $lightness: -30%, $space: oklch);
$primary-darker:    color.adjust($primary, $lightness: -20%, $space: oklch);
$primary-dark:      color.adjust($primary, $lightness: -10%, $space: oklch);
$primary-light:     color.adjust($primary, $lightness:  05%, $space: oklch);
$primary-lighter:   color.adjust($primary, $lightness:  10%, $space: oklch);
$primary-lightest:  color.adjust($primary, $lightness:  20%, $space: oklch);
$primary-offWhite:  color.adjust($primary, $lightness:  50%, $space: oklch);

//== Secondary Tints
$secondary-offBlack:  color.adjust($secondary, $lightness: -50%, $space: oklch);
$secondary-darkest:   color.adjust($secondary, $lightness: -30%, $space: oklch);
$secondary-darker:    color.adjust($secondary, $lightness: -20%, $space: oklch);
$secondary-dark:      color.adjust($secondary, $lightness: -10%, $space: oklch);
$secondary-light:     color.adjust($secondary, $lightness:  05%, $space: oklch);
$secondary-lighter:   color.adjust($secondary, $lightness:  10%, $space: oklch);
$secondary-lightest:  color.adjust($secondary, $lightness:  20%, $space: oklch);
$secondary-offWhite:  color.adjust($secondary, $lightness:  50%, $space: oklch);

//== Tertiary Tints
$tertiary-offBlack:  color.adjust($tertiary, $lightness: -70%, $space: oklch);
$tertiary-darkest:   color.adjust($tertiary, $lightness: -30%, $space: oklch);
$tertiary-darker:    color.adjust($tertiary, $lightness: -20%, $space: oklch);
$tertiary-dark:      color.adjust($tertiary, $lightness: -10%, $space: oklch);
$tertiary-light:     color.adjust($tertiary, $lightness:  05%, $space: oklch);
$tertiary-lighter:   color.adjust($tertiary, $lightness:  10%, $space: oklch);
$tertiary-lightest:  color.adjust($tertiary, $lightness:  20%, $space: oklch);
$tertiary-offWhite:  color.adjust($tertiary, $lightness:  50%, $space: oklch);

//== six shades of grey
$grey-darkest:        color.adjust(grey, $lightness: -40%);
$grey-darker:         color.adjust(grey, $lightness: -25%);
$grey-dark:           color.adjust(grey, $lightness: -10%);
$grey-light:          color.adjust(grey, $lightness: 10%);
$grey-lighter:        color.adjust(grey, $lightness: 25%);
$grey-lightest:       color.adjust(grey, $lightness: 40%);

//== opaque shades
$grey-darkest-a:      rgba($black, 0.9);
$grey-darker-a:       rgba($black, 0.7);
$grey-dark-a:         rgba($black, 0.5);
$grey-light-a:        rgba($white, 0.5);
$grey-lighter-a:      rgba($white, 0.3);
$grey-lightest-a:     rgba($white, 0.1);

//## Colour Array (used in generating colour classes).
$colors: (
  // shades
  "black":          $black,
  "grey-darkest":   $grey-darkest,
  "grey-darker":    $grey-darker,
  "grey-dark":      $grey-dark,
  "grey":           $grey,
  "grey-light":     $grey-light,
  "grey-lighter":   $grey-lighter,
  "grey-lightest":  $grey-lightest,
  "white":          $white,

  // opaque shades
  "grey-darkest-a":   $grey-darkest-a,
  "grey-darker-a":    $grey-darker-a,
  "grey-dark-a":      $grey-dark-a,
  "grey-light-a":     $grey-light-a,
  "grey-lighter-a":   $grey-lighter-a,
  "grey-lightest-a":  $grey-lightest-a,

  // status
  "error":      $error,
  "success":    $success,
  "alert":      $alert,

  // brand
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,

  // primary tints
  "primary-offBlack": $primary-offBlack,
  "primary-darkest":  $primary-darkest,
  "primary-darker":   $primary-darker,
  "primary-dark":     $primary-dark,
  "primary-light":    $primary-light,
  "primary-lighter":  $primary-lighter,
  "primary-lightest": $primary-lightest,
  "primary-offWhite": $primary-offWhite,

  // secondary tints
  "secondary-offBlack": $secondary-offBlack,
  "secondary-darkest":  $secondary-darkest,
  "secondary-darker":   $secondary-darker,
  "secondary-dark":     $secondary-dark,
  "secondary-light":    $secondary-light,
  "secondary-lighter":  $secondary-lighter,
  "secondary-lightest": $secondary-lightest,
  "secondary-offWhite": $secondary-offWhite,

  // tertiary tints
  "tertiary-offBlack": $tertiary-offBlack,
  "tertiary-darkest":  $tertiary-darkest,
  "tertiary-darker":   $tertiary-darker,
  "tertiary-dark":     $tertiary-dark,
  "tertiary-light":    $tertiary-light,
  "tertiary-lighter":  $tertiary-lighter,
  "tertiary-lightest": $tertiary-lightest,
  "tertiary-offWhite": $tertiary-offWhite,
);

$wpCoreColours: (
  "black": $black,
  "cyan-bluish-gray": $cyan-bluish-gray,
  "white": $white,
  "pale-pink": $pale-pink,
  "vivid-red": $vivid-red,
  "luminous-vivid-orange": $luminous-vivid-orange,
  "luminous-vivid-amber": $luminous-vivid-amber,
  "light-green-cyan": $light-green-cyan,
  "pale-cyan-blue": $pale-cyan-blue,
  "vivid-cyan-blue": $vivid-cyan-blue,
  "vivid-purple": $vivid-purple,
);

$cyan-bluish-gray: #abb8c3;
$pale-pink: #f78da7;
$vivid-red: #cf2e2e;
$luminous-vivid-orange: #ff6900;
$luminous-vivid-amber: #fcb900;
$light-green-cyan: #7bdcb5;
$vivid-green-cyan: #00d084;
$pale-cyan-blue: #8ed1fc;
$vivid-cyan-blue: #0693e3;
$vivid-purple: #9b51e0;
