@use "@styles/global/variables";

.badegg-block-list {
  container-name: wpBlockList;
  container-type: inline-size;
}

.badegg-block-background {
  position: absolute;
  inset: 0;
}

.block-footer,
.block-intro {
  display: flex;

  &.section {
    @extend .section-small !optional;
  }

  &.align-left { justify-content: flex-start; }
  &.align-right { justify-content: flex-end; }
  &.align-centre { justify-content: center; }

  > .container {
    width: auto;
    margin: 0;

    .align-left &,
    .align-right & {
      margin: 0;
    }
  }
}

.has-text-align {
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}
