@use "@styles/global/variables";

.menu-fixed {
  container-name: MenuFixed;
  container-type: inline-size;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 0 solid transparent;
  border-width: 0 0 1px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background: linear-gradient(0deg, rgba(variables.$black, 0.9), rgba(variables.$black, 0.75));
    opacity: 0;
    transition: all 300ms ease;
  }

  &.scrolled {
    border-color: rgba(variables.$white, 0.3);

    &::before {
      opacity: 1;
      backdrop-filter: blur(0.25em);
    }
  }

  .admin-bar & {
    top: 32px;

    @media (max-width: 782px) {
      top: 46px;
    }

    @media (max-width: 600px) {
      top: 0;
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .brand {
    flex-grow: 1;

    @media (max-width: variables.$screen-sm-max) {
      font-size: 0.66em;
    }
  }

  button.block.menu-toggle {
    @media (min-width: #{variables.$screen-md}) {
      display: none;
    }
  }

  @media (max-width: variables.$screen-sm-max) {
    .menu-primary {
      display: none;
    }

    .menu-toggle {
      display: block;
    }
  }

  @media (max-width: variables.$screen-xxs) {
    .menu-toggle {
      &-label {
        visibility: hidden;
      }
    }
  }
}
